<section class="sections-container">
    <h1 class="text-center text-white">PRODUCTS</h1>
    <div class="flex-cards">
        <%- include("./card") %>
        <%- include("./card") %>
        <%- include("./card") %>
        <%- include("./card") %>
        <%- include("./card") %>
        <%- include("./card") %>
    </div>
</section>